//- index.pug
//- Главная страница
extends ./layout.pug
block variables
  - var title = "Главная страница"

block append scripts
  script(src="/scripts.js")

block content
  h1= title
  p Home page site...