//- layout.pug
block variables

doctype html
html(lang="ru")
  head
    title #{title}
    block scripts
      script(src="/jquery.js")
  body
    block content
    block footer
      footer.footer
        p Copyright