//- Head.pug
head
  meta(charset='UTF-8')
  title Заголовок страницы
  script(src="/js/jquery.js")
  script(src="/js/script.js")
  //- Include custom styles
  style
    include ../css/custom-style.css
  
  //- Include custom scripts
  script
    include ../js/custom-script.js