//- index.pug
doctype html
html(lang="ru")
  //- Include head
  include ./components/head.pug
  body
    //- Include header
    include ./components/header.pug
    h1 Title page
    p Paragraph, Litle description

  //- Include footer
  include ./components/footer.pug
